# Default reviewers for every PR in this repo.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @alifarooqi @daniel-sarosi-gwc